.header-div {
  height: 35vh;
  display: flex;
  flex-direction: column;
  background-color: #f39f5a;
  color: white;
  margin: 10px 100px 0 0;
  border-radius: 20px;
  padding-top: 10px;
  color: black;
}

.header-inner-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-card {
  background: linear-gradient(180deg, #ae445a, #662549);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 50px;
  padding: 15px;
  border-radius: 20px;
  margin: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-card:hover {
  background: linear-gradient(180deg, #662549, #ae445a);
  color: white;
}

.icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 1439px) {
  .header-div {
    flex-direction: row;
    height: 15vh;
    min-width: 30%;
    margin: 0 auto;
  }
}
