body {
  background-color: #451952;
}

.body {
  height: 87vh;
  display: flex;
  flex-direction: column;
  background-color: #f39f5a;
  color: white;
  margin: 10px 20px 0 0;
  border-radius: 20px;
  padding-top: 10px;
}

.div-container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
  justify-content: center;
}

@media (max-width: 1439px) {
  .div-container {
    flex-direction: column;
  }
  .body {
    margin-bottom: 110px;
  }
  .div-center {
    display: flex;
    width: 130vh;
    justify-content: center;
    align-items: center;
  }
}
